@import '../../../../styles/variables.scss';

.this__day {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  background-color: $light-background;
  margin-right: 50px;

  &_top {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_bot {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: $base-color;
  }

  &_text {
    margin-right: 61px;
  }
}

.temp {
  font-weight: 500;
  font-size: 96px;
  color: $primary-color;
}

.day {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 30px;
}

p {
  margin: 0;
  padding: 0;
}